{% extends ':home:base.html.twig' %}

{% block body %}

    <!-- .page-title-container start -->
    <section class="page-title-container">

        <!-- .container_12 start -->
        <div class="container_12">

            <!-- .page-title start -->
            <div class="page-title grid_12">
                <div class="title">
                    <h1>{{ 'home.login.forgot_password'|trans }}</h1>
                </div>
            </div><!-- .page-title end -->
        </div><!-- .container_12 end -->
    </section><!-- .page-title-container end -->


    <!-- #content-wrapper start -->
    <section id="content-wrapper">

        <!-- .container_12 start -->
        <div class="container_12">
            <!-- .grid_6 start -->
            <div class="grid_6">
                {% if invalid_username is defined %}
                    <section class="error-box">
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                    </section>
                {% endif %}
                <div style="clear: both"></div>
                <!-- wpcf7 start -->
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="wpcf7">
                    <fieldset>
                        <label><span class="text-color">*</span> {{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}:</label>
                        <input class="wpcf7-text" type="text" id="username" name="username" required="required" />
                    </fieldset>

                    <fieldset></fieldset>
                    <input type="submit" class="wpcf7-submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                </form><!-- wpcf7 end -->
            </div><!-- .grid_6 end -->

            <!-- .grid_6 start -->
            <article class="grid_6">

            </article>
        </div>
    </section>

{% endblock body %}
