{% extends '::office.html.twig' %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.career.career'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.career.career'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <img src="{{ asset('img/career.png') }}" style="width: 100%">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.career.career'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="center">{{ 'office.career.left_points'|trans }}</th>
                            <th class="center">{{ 'office.career.right_points'|trans }}</th>
                            <th class="center">{{ 'office.career.overallVolume'|trans }}</th>
                            {% for member in members %}
                                <th class="center">{{ member.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="center">{{ app.user.career.leftPoints }}</td>
                            <td class="center">{{ app.user.career.rightPoints }}</td>
                            <td class="center">{{ app.user.career.overallVolume }}</td>
                            {% for member in members %}
                                <th class="center">{{ member.refs }}</th>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}