{% extends '::base.html.twig' %}

{% form_theme form '::theme.html.twig' %}

{% block left_menu %}
    {% include ('AdminCareerBundle::left_menu.html.twig') %}
{% endblock left_menu %}

{% block page_title %}<span class="icon-settings"></span>Настройки{% endblock page_title %}

{% block main_content %}
    <div class="wrapper">
        {% for flash_message in app.session.flashbag.get('success') %}
            {% include ':notifications:success_note.html.twig' with {'message' : flash_message} %}
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            {% include ':notifications:error_note.html.twig' with {'message' : flash_message} %}
        {% endfor %}
        {#{% if form_errors(form) %}#}
            {#{% include ':notifications:error_note.html.twig' with {'message' : form_errors(form)} %}#}
        {#{% endif %}#}
        {% if app.request.attributes.get('id') %}
        <div class="fluid">
            {{ form_start(form) }}
            <fieldset>
                <div class="widget fluid">
                    <div class="whead"><h6>Настройки ранга</h6><div class="clear"></div></div>
                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.imageFile, 'Картинка') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.imageFile) }}
                            {% if form_errors(form.imageFile) %}
                                <span class="note-error">{{ form_errors(form.imageFile) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.name, 'Имя') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <span class="note-error">{{ form_errors(form.name) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.reward, 'Награда') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.reward) }}
                            {% if form_errors(form.reward) %}
                                <span class="note-error">{{ form_errors(form.reward) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.weakFoot, 'Объем слабой ноги') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.weakFoot) }}
                            {% if form_errors(form.weakFoot) %}
                                <span class="note-error">{{ form_errors(form.weakFoot) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.overallVolume, 'Общий объем') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.overallVolume) }}
                            {% if form_errors(form.overallVolume) %}
                                <span class="note-error">{{ form_errors(form.overallVolume) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.rank, 'Лично спонсировать') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.rank) }}
                            {% if form_errors(form.rank) %}
                                <span class="note-error">{{ form_errors(form.rank) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            {{ form_label(form.countReferrals, 'Количество') }}
                        </div>
                        <div class="grid9">
                            {{ form_widget(form.countReferrals) }}
                            {% if form_errors(form.countReferrals) %}
                                <span class="note-error">{{ form_errors(form.countReferrals) }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="formRow">
                        <div class="grid3">&nbsp;</div>
                        <div class="grid9">
                            <input type="submit" class="buttonS bBlue formButton" value="{{ 'save'|trans }}">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
        {% endif %}

        <div class="fluid">
            <!-- Media table -->
            <div class="widget">
                <div class="whead">
                    <span class="titleIcon">
                        <div style="text-align: center">
                            <img width="16" src="{{ asset('images/database-table-icon.png') }}">
                        </div>
                    </span>
                    <h6>Все ранги</h6><div class="clear"></div>
                </div>
                <div class="hiddenpars" id="dyn">
                    <div role="grid" class="dataTables_wrapper" id="dynamic_wrapper">

                        <table cellspacing="0" cellpadding="0" width="100%" style="border-top: 1px solid #CDCDCD" id="checkAll" class="tDefault checkAll tMedia">
                            <thead>
                            <tr class="">
                                <td style="width:200px;" class="sortCol"><div>Картинка</div></td>
                                <td style="width:200px;" class="sortCol"><div>Ранг</div></td>
                                <td style="width:200px;" class="sortCol  align-right"><div>Награда</div></td>
                                <td style="width:200px;" class="sortCol  align-right"><div>Объем слабой ноги</div></td>
                                <td style="width:200px;" class="sortCol  align-right"><div>Общий объем</div></td>
                                <td style="width:200px;" class="sortCol  align-right"><div>Лично спонсировать</div></td>
                                <td style="width:200px;" class="sortCol  align-right"><div>Количество</div></td>
                                <td class="sortCol   last-column"><div>Действия</div></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rank in ranks %}
                                <tr class="">
                                    <td class="">
                                        <img src="{{ vich_uploader_asset(rank, 'imageFile') }}" alt="{{ rank.name }}" />
                                    </td>
                                    <td class="">{{ rank.name }}</td>
                                    <td class="">{{ rank.reward }}</td>
                                    <td class="">{{ rank.weakFoot }}</td>
                                    <td class="">{{ rank.overallVolume }}</td>
                                    <td class="">{% if rank.rank %}{{ rank.rank.name }}{% endif %}</td>
                                    <td class="">{{ rank.countReferrals }}</td>
                                    <td class="tableActs">
                                        <a target="_self" class="tablectrl_small bDefault tipS" href="{{ path('career_settings', {'id': rank.id}) }}" original-title="Редактировать">
                                            <span data-icon="" class="iconb"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}