{% extends '::office.html.twig' %}

{% form_theme form '::twig_theme.html.twig' %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.layout.change_password'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br>
                    <form class="form-horizontal form-label-left" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                        <div class="form-group">
                            {{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                {% if form_errors(form.current_password) %}
                                    <span class="form-error">{{ form_errors(form.current_password) }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                {% if form_errors(form.plainPassword.first) %}
                                    <span class="form-error">{{ form_errors(form.plainPassword.first) }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                {% if form_errors(form.plainPassword.second) %}
                                    <span class="form-error">{{ form_errors(form.plainPassword.second) }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="submit">{{ 'save'|trans }}</button>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
