{% extends "::office.html.twig"  %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.layout.affiliate_program'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.affiliate_program.membership'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="product-image">
                            <img src="{{ asset('uploads/status/' ~ status.image) }}" alt="..." />
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                        <h3 class="prod_title">{{ status.name }}</h3>

                        <p>
                            {{ status.description|raw }}
                        </p>
                        <br />

                        <br />

                        <div class="">
                            <div class="product_price">
                                <h1 class="price">{{ status.price }}$ {% if not app.user.registrationfee %} + {{ settings.registrationFee }}${% endif %}</h1>
                                <span class="price-tax">
                                    {{ 'office.affiliate_program.total'|trans }}:
                                    {% if not app.user.registrationfee %}
                                        {{ status.price + settings.registrationFee }}$
                                    {% else %}
                                        {{ status.price }}
                                    {% endif %}
                                </span>
                                <br>
                            </div>
                        </div>

                        <div class="">
                            <a href="{{ path('marketing_buy_status', {'id': status.id}) }}" class="btn btn-default btn-lg">{{ 'office.affiliate_program.buy_now'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}