{% extends '::office.html.twig' %}

{% block style %}
    <link href="{{ asset('lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.referrals.referrals'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div role="alert" class="alert alert-info alert-dismissible fade in" style="text-align: center">
        {{ 'office.referrals.referral_link'|trans }}: <strong>{{ app.request.getSchemeAndHttpHost() }}/?ref={{ app.user.username }}</strong>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.referrals.my_referrals'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {#<div class="row">#}
                        {#<div class="col-md-12 col-sm-12 col-xs-12 text-center">#}
                            {#{{ pagerfanta(users, 'twitter_bootstrap3') }}#}
                        {#</div>#}

                        {#<div class="clearfix"></div>#}
                        {#{% for user in users.currentPageResults %}#}
                            {#<div class="col-md-4 col-sm-4 col-xs-12 profile_details">#}
                                {#<div class="well profile_view">#}
                                    {#<div class="col-sm-12">#}
                                        {#<h4 class="brief"><i>Digital Strategist</i></h4>#}
                                        {#<div class="left col-xs-7">#}
                                            {#<h2>{{ user.username }}</h2>#}
                                            {#<p><strong>{{ 'office.referrals.status'|trans }}: </strong> {% if not user.status %}Free{% else %}{{ user.status.name }}{% endif %} </p>#}
                                            {#<ul class="list-unstyled">#}
                                                {#<li><i class="fa fa-mail-reply-all"></i> Email: {{ user.email }} </li>#}
                                                {#<li><i class="fa fa-phone"></i> Phone: {{ user.phone }}</li>#}
                                                {#<li><i class="fa fa-skype"></i> Skype: {{ user.skype }}</li>#}
                                            {#</ul>#}
                                        {#</div>#}
                                        {#<div class="right col-xs-5 text-center">#}
                                            {#<img class="img-circle img-responsive" alt="" src="{{ asset('lib/gentelella/images/user.png') }}">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="col-xs-12 bottom text-center">#}
                                        {#<div class="col-xs-12 col-sm-6 emphasis">#}
                                        {#</div>#}
                                        {#<div class="col-xs-12 col-sm-6 emphasis" style="width: 200px">#}
                                            {#&nbsp;#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}
                        {#<div class="col-md-12 col-sm-12 col-xs-12 text-center">#}
                            {#{{ pagerfanta(users, 'twitter_bootstrap3') }}#}
                        {#</div>#}
                    {#</div>#}
                    {{ grid(grid, '::grid.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}