{% extends '::office.html.twig' %}

{% block style %}
    <link href="{{ asset('lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.layout.affiliate_program'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.affiliate_program.history.scale_history'|trans }} - {{ date|date('d.m.Y') }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        {% for stat in stats %}
                            <h2>{{ 'office.affiliate_program.scale.level'|trans }} {{ loop.index }}</h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{ 'office.referrals.username'|trans }}</th>
                                    <th>{{ 'office.referrals.bonus'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in stat %}
                                    <tr>
                                        <td>{{ item.userFrom.username }}</td>
                                        <td>{{ item.bonus }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}