{% extends '::office.html.twig' %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.layout.affiliate_program'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.affiliate_program.history.points_history'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="center">{{ 'office.affiliate_program.history.date'|trans }}</th>
                            <th class="center">{{ 'office.affiliate_program.history.left_points'|trans }}</th>
                            <th class="center">{{ 'office.affiliate_program.history.right_points'|trans }}</th>
                            <th class="center">{{ 'office.affiliate_program.history.bonus'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for statistic in statistics %}
                                <tr>
                                    <td class="center">{{ statistic.date|date('d/m/Y H:i') }}</td>
                                    <td class="center">{{ statistic.leftPoints }}</td>
                                    <td class="center">{{ statistic.rightPoints }}</td>
                                    <td class="center">${{ statistic.bonus }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}